storageClassNames: []
storagePath:

metricsPort: 9100
serviceEnabled: true
updateInterval: 30s

serviceMonitor:
  enabled: false
  interval: 30s
  scrapeTimeout: 10s
podMonitor:
  enabled: false
  interval: 30s
  scrapeTimeout: 10s

image:
  tag: latest
  imagePullPolicy: IfNotPresent
  registry: 

imagePullSecrets: []

replicaCount: 1