storageClassNames: []
storagePaths: []

metricsPort: 9100
serviceEnabled: true
updateInterval: 30s

serviceMonitor:
  enabled: false
  interval: 30s
  scrapeTimeout: 10s
podMonitor:
  enabled: false
  interval: 30s
  scrapeTimeout: 10s

image:
  repository: ghcr.io/prokube/local-storage-exporter
  tag: latest
  pullPolicy: IfNotPresent

logLevel: info

imagePullSecrets: []

daemonSet:
  enable: true

deployment:
  enable: false
  replicas: 1