storageClassNames: [openebs-hostpath]
storagePath: /var/openebs/local/

metricsPort: 9100
serviceEnabled: true
updateInterval: 30s

serviceMonitor:
  enabled: true
  interval: 30s
  scrapeTimeout: 10s
podMonitor:
  enabled: false
  interval: 30s
  scrapeTimeout: 10s

image:
  tag: latest
  imagePullPolicy: IfNotPresent
  registry: <registry>

imagePullSecrets:
  - name: regcred

replicaCount: 1