{{ include "validate.requiredValues" . }}
{{ $metricsPort := include "validate.metricsPort" . }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-local-storage-exporter-deployment
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-local-storage-exporter
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-local-storage-exporter
    spec:
      serviceAccountName: {{ .Release.Name }}-local-storage-exporter-serviceaccount
      {{ if .Values.imagePullSecrets -}}
      imagePullSecrets:
      {{ range .Values.imagePullSecrets -}}
        - name: {{ .name }}
      {{ end -}}
      {{ end -}}
      containers:
        - name: {{ .Release.Name }}-local-storage-exporter
          {{ if .Values.image.registry -}}
          image: {{ .Values.image.registry }}/local-storage-exporter:{{ .Values.image.tag }}
          {{ else -}}
          image: local-storage-exporter:{{ .Values.image.tag }}
          {{ end -}}
          imagePullPolicy: {{ .Values.image.imagePullPolicy }}
          volumeMounts:
            - name: node-data
              mountPath: /volumes # Where it appears in container
              readOnly: true
          ports:
            - containerPort: {{ $metricsPort }}
              name: metrics
          env:
            - name: STORAGE_CLASS_NAMES
              value: {{ join "," .Values.storageClassNames }}
            - name: METRICS_PORT
              value: {{ quote $metricsPort }}
            - name: UPDATE_INTERVAL
              value: {{ quote .Values.updateInterval }}
          livenessProbe:
            httpGet:
              path: /
              port: {{ $metricsPort }}
            initialDelaySeconds: 3
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /
              port: {{ $metricsPort }}
            initialDelaySeconds: 3
            periodSeconds: 15
      volumes:
        - name: node-data
          hostPath:
            path: {{ .Values.storagePath }}
            type: Directory # Ensures directory exists