name: Docker build and push dev to ghcr.io

on:
  workflow_dispatch:
  push:
    branches-ignore: ["main"]
    paths:
      - "local_storage_exporter/**"
      - "Dockerfile"
      - ".dockerignore"
      - "pyproject.toml"
      - "uv.lock"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/prokube/dev/local-storage-exporter
          tags: |
            type=raw,value=dev-{{branch}},enable=true
            type=raw,value=dev-commit-${{ github.sha }}
          sanitize: true

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
