name: Docker build and push to Artifact Registry

on:
  workflow_dispatch:
  push:
   branches: [ "main" ]
   paths:
      - "local_storage_exporter/**"
      - "Dockerfile"
      - ".dockerignore"
      - "pyproject.toml"
      - "uv.lock"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build the Docker image
      run: |
        set -euo pipefail

        # Define the image name and tag
        IMAGE_NAME="ghcr.io/prokube/local-storage-exporter"
        IMAGE_TAG=$(date +%Y%m%d%H%M%S)
        COMMIT_TAG="commit-${{ github.sha }}"
        
        echo "Building Docker image: $IMAGE_NAME:$IMAGE_TAG"
        docker build . -f Dockerfile -t $IMAGE_NAME:$IMAGE_TAG
        
        echo "Tagging Docker image with latest and commit tags"
        docker tag $IMAGE_NAME:$IMAGE_TAG $IMAGE_NAME:latest
        docker tag $IMAGE_NAME:$IMAGE_TAG $IMAGE_NAME:$COMMIT_TAG
        
        echo "Pushing Docker images to Artifact Registry: ${{ vars.ARTIFACT_REGISTRY_PATH }}"
        docker push $IMAGE_NAME:$IMAGE_TAG
        docker push $IMAGE_NAME:$COMMIT_TAG
        docker push $IMAGE_NAME:latest
