name: Helm package and push to Artifact Registry

on:
  workflow_dispatch:
  push:
   branches: [ "main" ]
   paths:
      - "helm_chart/**"
      
jobs:
  package-and-push:
    environment: google-artifact-registry  
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Docker Login to Google Artifact Registry
      uses: docker/login-action@v3
      with:
        registry: europe-west3-docker.pkg.dev
        username: _json_key
        password: ${{ secrets.GCP_SA_KEY }}

    - name: Package the Helm chart and push to Artifact Registry
      run: |
        set -euo pipefail

        # Helm packages the chart as {chart-name}-{version}.tgz
        helm package helm_chart --destination ./helm_chart/dist
        # A wildcard is used to match the versioned chart file
        # helm push automatically tags the chart with the version from Chart.yaml
        helm push ./helm_chart/dist/local-storage-exporter-*.tgz oci://${{ vars.ARTIFACT_REGISTRY_PATH }}/helm