name: Helm package main and push to ghcr.io

on:
  push:
   tags: [ "helm-v*" ]

jobs:
  package-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Ensure tag is on main
      run: |
        git fetch origin main
        if ! git merge-base --is-ancestor ${{ github.sha }} origin/main; then
          echo "Tag is not on main branch"
          exit 1
        fi

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Package the Helm chart and push to Artifact Registry
      run: |
        set -euo pipefail

        # Helm packages the chart as {chart-name}-{version}.tgz
        helm package helm_chart --destination ./helm_chart/dist

        # A wildcard is used to match the versioned chart file
        # helm push automatically tags the chart with the version from Chart.yaml
        helm push ./helm_chart/dist/local-storage-exporter-*.tgz oci://ghcr.io/prokube/helm